{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Informe o grafo</title>
</head>
<body>
    <div class="formulario-container">

        <h2>Informe o Grafo</h2>
        <form action="{% url 'processar_grafo' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Criar Matriz</button>
        </form>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>