{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tela-inicial.css' %}">
    <title>Tela inicial</title>
</head>
<body>
    <h1>Projeto Grafo</h1>
    <div class="container_principal">
        <h2>Membros do Grupo</h2>
        <ul>
            <li>Matheus Araujo</li>
            <li>Andressa</li>
            <li>Luiz Neto</li>
        </ul>
        <a href="{% url 'index' %}">Ir construir grafo</a>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>